<ng-container *ngIf="{ view: (calendarS.view$ | async)!, viewDate: (calendarS.viewDate$ | async)! } as data">
  <button *ngIf="data.view === CalendarView.Day" (mwlClick)="onBackToMonth()" mat-button>
    <mat-icon>arrow_back</mat-icon>
    Back to month
  </button>

  <button
    (viewDateChange)="onViewDateChange($event)"
    [view]="data.view"
    [viewDate]="data.viewDate"
    mwlCalendarPreviousView
    mat-icon-button
  >
    <mat-icon>chevron_left</mat-icon>
  </button>

  <button (viewDateChange)="onViewDateChange($event)" [viewDate]="data.viewDate" mwlCalendarToday mat-button>
    Today
  </button>

  <button
    (viewDateChange)="onViewDateChange($event)"
    [view]="data.view"
    [viewDate]="data.viewDate"
    mwlCalendarNextView
    mat-icon-button
  >
    <mat-icon>chevron_right</mat-icon>
  </button>
</ng-container>
