<a routerLink="/">
  <button mat-button>
    <mat-icon>arrow_back</mat-icon>
    Back
  </button>
</a>

<button
  #previousButton
  (viewDateChange)="onViewDateChange($event)"
  [view]="calendarS.viewSig()"
  [viewDate]="calendarS.viewDateSig()"
  mwlCalendarPreviousView
  mat-icon-button
>
  <mat-icon>chevron_left</mat-icon>
</button>

<button (viewDateChange)="onViewDateChange($event)" [viewDate]="calendarS.viewDateSig()" mwlCalendarToday mat-button>
  Today
</button>

<button
  #nextButton
  (viewDateChange)="onViewDateChange($event)"
  [view]="calendarS.viewSig()"
  [viewDate]="calendarS.viewDateSig()"
  mwlCalendarNextView
  mat-icon-button
>
  <mat-icon>chevron_right</mat-icon>
</button>
