<button *ngIf="isFab" mat-fab [matMenuTriggerFor]="languageMenu" color="accent">
  <mat-icon [svgIcon]="i18nS.selectedLocaleSig().icon"></mat-icon>
</button>

<button *ngIf="!isFab" mat-icon-button [matMenuTriggerFor]="languageMenu">
  <mat-icon [svgIcon]="i18nS.selectedLocaleSig().icon"></mat-icon>
</button>

<mat-menu #languageMenu="matMenu" xPosition="before">
  <button *ngFor="let locale of locales" (click)="onSelectLocale(locale)" mat-menu-item>
    <mat-icon [svgIcon]="locale.icon"></mat-icon>
    {{ locale.name }}
  </button>
</mat-menu>
