.cal-day-cell {
    --cal-header-height: 29px;
    --cal-cell-border-width: 1px;
    --cal-cell-count: 6;
    --leftover-height: calc(100vh - var(--cal-header-height) - var(--header-height) - ((var(--cal-cell-count) + 1) * var(--cal-cell-border-width)));
    height: calc(var(--leftover-height) / var(--cal-cell-count));
}