@use '@angular/material' as mat;

$shongo-frontend-tablet-primary: mat.define-palette(mat.$green-palette, A700);
$shongo-frontend-tablet-accent: mat.define-palette(mat.$blue-grey-palette, 600);
$shongo-frontend-tablet-warn: mat.define-palette(mat.$red-palette);
$shongo-typography-config: mat.define-typography-config(
  $body-1: mat.define-typography-level(1rem, 1.2rem, 400),
  $body-2: mat.define-typography-level(1rem, 1.2rem, 400),
  $button: mat.define-typography-level(0.9rem, 1rem, 500)
);
$shongo-frontend-tablet-theme: mat.define-light-theme(
  (
    color: (
      primary: $shongo-frontend-tablet-primary,
      accent: $shongo-frontend-tablet-accent,
      warn: $shongo-frontend-tablet-warn
    ),
    typography: $shongo-typography-config
  )
);

@include mat.all-component-themes($shongo-frontend-tablet-theme);
