:root {
    // Color values
    --white: #fff;
    --light-gray: #e1e1e1;

    // Semantic colors
    --border-color: var(--light-gray);
    --background-color: var(--white);

    // Sizes
    --header-height: 4em;
}