<div class="happening-today">
  <div class="happening-today__background">
    <div class="background-filter"></div>
  </div>

  <div class="happening-today__content">
    <main class="happening-today__main">
      <img src="/assets/img/logo-cesnet-light.png" alt="CESNET" width="228" height="87" class="happening-today__logo" />

      <div>
        <h1 class="happening-today__heading">Room Available</h1>
        <h2 class="happening-today__subheading">Next meeting in 1.5 hours | technical meeting</h2>

        <button mat-raised-button color="primary">Book Now</button>
      </div>
    </main>

    <aside class="happening-today__sidebar">
      <div class="background-filter"></div>

      <div class="happening-today__sidebar-content">
        <h1 class="happening-today__heading">{{ todaySig() | date: 'HH:MM' }}</h1>
        <h2 class="happening-today__subheading">{{ todaySig() | date: 'EEEE, LLL d' }}</h2>

        <div class="happening-today__upcoming-events">
          <app-upcoming-event [description]="'asd'" [start]="todaySig()" [end]="todaySig()"></app-upcoming-event>
        </div>
      </div>
    </aside>
  </div>
</div>
