<div class="happening-today">
  <div class="happening-today__background">
    <div class="background-filter"></div>
  </div>

  <div class="happening-today__content">
    <main class="happening-today__main">
      <img src="/assets/img/logo-cesnet-light.png" alt="CESNET" width="228" height="87" class="happening-today__logo" />

      <div>
        <h1 class="happening-today__heading">
          {{ happeningTodayS.isAvailableSig() ? 'Room Available' : 'Ongoing Meeting' }}
        </h1>
        <h2
          *ngIf="happeningTodayS.nextMeetingSig() as nextMeeting; else noMoreMeetings"
          class="happening-today__subheading"
        >
          Next meeting in {{ happeningTodayS.timeToNextMeetingSig() }} | {{ nextMeeting.title }}
        </h2>

        <ng-template #noMoreMeetings>
          <h2 class="happening-today__subheading">No more meetings today</h2>
        </ng-template>

        <button class="happening-today__book-now">Book Now</button>
      </div>
    </main>

    <aside class="happening-today__sidebar">
      <div class="background-filter"></div>

      <div class="happening-today__sidebar-content">
        <h1 class="happening-today__heading">{{ happeningTodayS.todaySig() | date: 'HH:MM' }}</h1>
        <h2 class="happening-today__subheading">{{ happeningTodayS.todaySig() | date: 'EEEE, LLL d' }}</h2>

        <div class="happening-today__events">
          <app-upcoming-event
            *ngFor="let event of happeningTodayS.upcomingMeetingsSig()"
            [description]="event.title"
            [start]="event.slot.start"
            [end]="event.slot.end"
            class="happening-today__event"
          ></app-upcoming-event>
        </div>
      </div>
    </aside>
  </div>
</div>
