<h1 mat-dialog-title>Enter authentication data for this device</h1>

<form [formGroup]="formGroup" mat-dialog-content class="token-modal__form">
  <mat-form-field class="token-modal__field" appearance="outline">
    <mat-label>Authentization token</mat-label>
    <input formControlName="token" matInput />
    <mat-error>Token is required</mat-error>
  </mat-form-field>

  <mat-form-field class="token-modal__field" appearance="outline">
    <mat-label>Managed resource</mat-label>
    <input formControlName="resource" matInput />
    <mat-error>Resource is required</mat-error>
  </mat-form-field>
</form>

<div mat-dialog-actions [align]="'end'">
  <button (mwlClick)="save()" [disabled]="formGroup.invalid" mat-flat-button color="primary">Save</button>
</div>
