<header [selectedSlot]="selectedSlot" class="calendar-header" app-calendar-header></header>

<main (swipeleft)="onSwipeLeft()" (swiperight)="onSwipeRight()" class="calendar">
  <shongo-calendar
    *ngIf="{ view: (calendarS.view$ | async)!, viewDate: (calendarS.viewDate$ | async)! } as data"
    #calendar
    (viewChange)="onViewChange($event)"
    (viewDateChange)="onViewDateChange($event)"
    (slotSelected)="onSlotSelected($event)"
    (loadData)="onLoadData($event)"
    [view]="data.view"
    [viewDate]="data.viewDate"
    [allowSlotSelection]="true"
    [fill]="true"
    [items]="requestSig().data"
    [loading]="requestSig().state === ERequestState.LOADING"
  ></shongo-calendar>
</main>
