@use '@angular/material' as mat;

@import 'node_modules/angular-calendar/css/angular-calendar.css';
@import './styles/shongo-light-theme';
@import './styles/calendar-overrides';
@import './styles/variables';

@include mat.core;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
