@use '@angular/material' as mat;

@import 'node_modules/angular-calendar/css/angular-calendar.css';
@import './styles/shongo-light-theme';
@import './styles/variables';
@import './styles/mat-button';
@import 'ngx-toastr/toastr';

@include mat.core;

html,
body {
  box-sizing: border-box;
  height: 100%;
  font-size: 18px;
  overscroll-behavior: none;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
